[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "==1.2.6"
flask = "==3.0.0"
flask-login = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.10"
