<!DOCTYPE html>
<html>
<head>
    <title>在线打字练习</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css">
    <style>
        #timer {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">欢迎来到在线打字练习</h1>
        <div id="timer">练习时间: 00:00</div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <label for="inputText" class="form-label">请输入以下文本：</label>
                <input type="text" class="form-control mb-3" id="inputText" name="inputText" oninput="highlightMistakes()">
                <h4 id="targetText" class="text-center"></h4>
                <button type="submit" class="btn btn-primary mt-3">提交</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../static/js/ajax.js"></script>
        <script src="../static/js/script.js"></script>

        <script>
            var startTime = Date.now();

            function formatTime(seconds) {
                var minutes = Math.floor(seconds / 60);
                var remainingSeconds = Math.floor(seconds % 60);
                return (minutes < 10 ? '0' : '') + minutes + ':' + (remainingSeconds < 10 ? '0' : '') + remainingSeconds;
            }

            function updateTimer() {
                var currentTime = Date.now();
                var elapsedTimeInSeconds = Math.floor((currentTime - startTime) / 1000);
                var formattedTime = formatTime(elapsedTimeInSeconds);
                document.getElementById('timer').textContent = '停留时间: ' + formattedTime;
            }

            setInterval(updateTimer, 1000); // 更新时间显示每1000毫秒（1秒）
        </script>
    </div>
</body>
</html>

