<!DOCTYPE html>
<html>
<head>
    <title>在线打字练习</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css">
    <style id="style-light">
        body {
            background-color: #ffffff;
            color: #000000;
        }
    </style>
    <style id="style-dark">
        body {
            background-color: #383838;
            color: #ffffff;
        }
    </style>
    <style>
        #originalText {
            display: none;
        }
    </style>
    <script>
        var user_id = "{{ user_id }}";
        var username = "{{ username }}";
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">SOFTWARE PKU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/rank">排行榜</a>
                    </li>
                    <li class="nav-item">
                        <a id="modeswitch" class="nav-link" href="#" onclick="toggleDarkMode()">白色模式</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="levelDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">关卡选择</a>
                        <ul class="dropdown-menu" aria-labelledby="levelDropdown" id="levelMenu">
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(1)">1-1</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(2)">1-2</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(3)">1-3</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(4)">2-1</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(5)">2-2</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(6)">2-3</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(7)">3-1</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(8)">3-2</a></li>
                            <li><a class="dropdown-item" href="#" onclick="switchLevel(9)">3-3</a></li>
                            <!-- 添加更多关卡 -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vimlevel">Vim挑战</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/ChenpengZhang/SEPKU-TypingPractice">Github</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="true">
                            <img id="navProfilePicture" src="../static/images/1.jpg" alt="avatar" class="rounded-circle img-fluid float-start me-1" style="width: 30px; margin-top: -2px;">
                            {{ username }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/get_record">练习记录</a>
                                <a class="dropdown-item" href="/logout">推出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <div class="container mt-5" id="content">
            <div style="height: 30px;"></div>
            <h1 class="text-center mb-4">打字练习</h1>
            <div style="height: 50px;"></div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <label for="inputText" class="form-label"></label>
                    <input type="text" class="form-control mb-3" id="inputText" name="inputText" oninput="detectInput()">
                    <h4 id="targetText" class="text-center"></h4>
                    <div class="container" style="height: 200px; text-align: center;">
                        <img id="hint" alt="blank" style="width: 500px;">
                    </div>
                    <h id="originalText"></h>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <h4 id="timer">00:00:000</h4>
                        </div>
                        <div class="col text-center">
                            <h4 id="accuracy">0%</h4>
                        </div>
                    </div>
                    <h4 id="result" class="text-center mt-3"></h4>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/ajax.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>

