<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入 Bootstrap 样式文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>练习记录</title>
  <script>
    var user_id = "{{user_id}}"
  </script>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-4">练习记录</h1>
    
    <!-- 排行榜表格 -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">关卡ID</th>
          <th scope="col">完成时间</th>
          <th scope="col">提交时间</th>
          <th scope="col">准确率</th>
        </tr>
      </thead>
      <tbody id="user-list"></tbody>
    </table>
    <a class="btn btn-primary" href="/" role="button">返回</a>
  </div>
  

  <!-- 引入 Bootstrap JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/script-record.js"></script>
</body>
</html>